<div class="container">
  <h1>About Us</h1>
  <p>A global leader in consulting, technology services and 
    digital transformation, Capgemini is at the forefront 
    of innovation to address the entire breadth of clients’ 
    opportunities in the evolving world of cloud, digital 
    and platforms.</p>
  <p>With close to 200,000 employees across 40 countries
     and partnerships with a broad spectrum of technology 
     vendors, Capgemini has both the resources and expertise
   to react quickly to client needs—a key asset in a digital
   era when deployment needs to be measured in weeks rather than months.
  </p>       
  
</div>
