<div class="container">

  <nav class="navbar navbar-expand navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about">About</a>
          
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Contact Us <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-4 my-md-2">
        <button type="submit" class="btn btn-lg btn-block btn-info" routerLink="/login">Login <span class="sr-only">(current)</span></button>
      </form>

      <form class="form-inline my-2 my-md-0">
        <button type="submit" class="btn btn-lg btn-block btn-info" routerLink="/login">Logout <span class="sr-only">(current)</span></button>
        
      </form>
    </div>
  </nav>
  <nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
      Made with <i class="fa fa-heart"></i> by <a href="https://www.facebook.com/agnes.pious">AgnesPious</a>
    </div>
  </nav>


  <router-outlet></router-outlet>


</div>